In [116]:
import pandas as pd
import matplotlib.pyplot as plt

## Loading Data & Renaming

In [117]:
df1 = pd.read_csv('2022_q1.csv')

## 1. Data Profiling

In [118]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59846 entries, 0 to 59845
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              59846 non-null  int64
 1   المنطقة                59846 non-null  object
 2   المدينة                59846 non-null  object
 3   الحي                   59846 non-null  object
 4   المخطط                 59846 non-null  object
 5   رقم القطعة             59846 non-null  object
 6   التاريخ                59846 non-null  object
 7   تصنيف العقار           59846 non-null  object
 8   نوع العقار             59846 non-null  object
 9   عدد العقارات           59846 non-null  int64
 10  السعر بالريال السعودي  59846 non-null  int64
 11  المساحة                59846 non-null  float64
 12  سعر المتر المربع       59846 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 5.9+ MB

**1.1 Reliability**

1- Data Source: Got it from Kaggle Where Its Originally from Open Data Authority


2- Link for the Data: https://www.kaggle.com/datasets/desperateyazeed/saudi-arabia-real-estate-datasets-2022q1-and-2023q1?select=before_cleaning_realestate_2022_q1.csv

**1.2 Timeliness**

Date of the data: 2022 & 2023

2 years old

**1.3 Consistency:** 

1- data is consistent within the two datasets 2022 & 2023

In [119]:
df1.head(10)

,رقم مرجعي,المنطقة,المدينة,الحي,المخطط,رقم القطعة,التاريخ,تصنيف العقار,نوع العقار,عدد العقارات,السعر بالريال السعودي,المساحة,سعر المتر المربع
0,16074562,منطقة الرياض,الافلاج,حي/الخالدية,مخطط/349,قطعة 255,2/1/2022,سكني,قطعة أرض,1,70000,820.53,85.3107
1,16077290,منطقة الرياض,البجاديه,حي/11 بالدخل المحدود غرب البجادية,مخطط/أخرى,قطعة 448,2/1/2022,سكني,قطعة أرض,1,10000,625.00,16.0000
2,16077316,منطقة الرياض,الخرج,حي/60حى اليرموك مخطط 1009 الجزء الثانى,مخطط/أخرى,قطعة 1063,2/1/2022,سكني,قطعة أرض,1,100000,624.07,160.2384
3,16073025,منطقة الرياض,الخرج,حي/68 حى اليرموك مخطط 1009/ 2,مخطط/أخرى,قطعة 1222,2/1/2022,تجاري,قطعة أرض,1,110000,581.05,189.3124
4,16069867,منطقة الرياض,الخرج,حي/827 حى هجرة الصاع,مخطط/أخرى,قطعة 1071,2/1/2022,سكني,قطعة أرض,1,40000,630.00,63.4920
5,16072890,منطقة الرياض,الخرج,حي/الثليماء,مخطط/1427,قطعة 329,2/1/2022,سكني,قطعة أرض,1,100000,500.00,200.0000
6,16073067,منطقة الرياض,الخرج,حي/الثليماء,مخطط/1427,قطعة 331,2/1/2022,سكني,قطعة أرض,1,100000,500.00,200.0000
7,16076487,منطقة الرياض,الخرج,حي/الخالديه,مخطط/97,قطعة 141,2/1/2022,سكني,قطعة أرض,1,240000,390.00,615.3846
8,16071878,منطقة الرياض,الخرج,حي/الزاهر,مخطط/529,قطعة 2765,2/1/2022,سكني,قطعة أرض,1,1330000,1125.00,1182.2222
9,16022069,منطقة الرياض,الخرج,حي/العيينة,مخطط/أخرى,قطعة 72,2/1/2022,سكني,قطعة أرض,1,30000,368.44,81.4243

In [120]:
df1.dtypes

رقم مرجعي                  int64
المنطقة                   object
المدينة                   object
الحي                      object
المخطط                    object
رقم القطعة                object
التاريخ                   object
تصنيف العقار              object
نوع العقار                object
عدد العقارات               int64
السعر بالريال السعودي      int64
المساحة                  float64
سعر المتر المربع         float64
dtype: object

**1.4 Relevance**

Data is Skewed But Can Be Cleaned And Normalizied

In [121]:
df1.describe()

,رقم مرجعي,عدد العقارات,السعر بالريال السعودي,المساحة,سعر المتر المربع
count,5.984600e+04,59846.000000,5.984600e+04,5.984600e+04,59846.000000
mean,1.637109e+07,1.030729,8.687596e+05,4.921410e+03,1302.610391
std,1.908103e+05,0.517559,5.347610e+06,6.591525e+04,2185.538330
min,1.489077e+07,1.000000,1.000000e+04,2.830000e+00,0.010000
25%,1.620996e+07,1.000000,1.400000e+05,4.037500e+02,207.429475
50%,1.634973e+07,1.000000,3.800000e+05,6.000000e+02,646.106700
75%,1.652857e+07,1.000000,8.000000e+05,7.800000e+02,1600.000000
max,1.673255e+07,56.000000,7.456640e+08,4.348793e+06,139854.706400

In [122]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59846 entries, 0 to 59845
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              59846 non-null  int64
 1   المنطقة                59846 non-null  object
 2   المدينة                59846 non-null  object
 3   الحي                   59846 non-null  object
 4   المخطط                 59846 non-null  object
 5   رقم القطعة             59846 non-null  object
 6   التاريخ                59846 non-null  object
 7   تصنيف العقار           59846 non-null  object
 8   نوع العقار             59846 non-null  object
 9   عدد العقارات           59846 non-null  int64
 10  السعر بالريال السعودي  59846 non-null  int64
 11  المساحة                59846 non-null  float64
 12  سعر المتر المربع       59846 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 5.9+ MB

In [123]:
df1.drop('رقم القطعة', axis=1, inplace=True)

In [124]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59846 entries, 0 to 59845
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              59846 non-null  int64
 1   المنطقة                59846 non-null  object
 2   المدينة                59846 non-null  object
 3   الحي                   59846 non-null  object
 4   المخطط                 59846 non-null  object
 5   التاريخ                59846 non-null  object
 6   تصنيف العقار           59846 non-null  object
 7   نوع العقار             59846 non-null  object
 8   عدد العقارات           59846 non-null  int64
 9   السعر بالريال السعودي  59846 non-null  int64
 10  المساحة                59846 non-null  float64
 11  سعر المتر المربع       59846 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 5.5+ MB

**Renaming the Colmuns**

In [125]:
df1.columns = df1.columns.str.strip()

In [126]:
new_column_names = {
    'المنطقة': 'area', 
    'المدينة': 'city',
    'الحي': 'district',
    'تصنيف العقار': 'property_classification',
    'نوع العقار': 'property_type',
    'عدد العقارات': 'number_of_properties',
    'السعر بالريال السعودي': 'price',
    'المساحة': 'space',
    'سعر المتر المربع': 'Price_per_square_meter',
    'رقم مرجعي': 'ref_num',
    'المخطط': 'Mukatat',
    'التاريخ': 'date' 
}

In [127]:
df1 = df1.rename(columns=new_column_names)
df1.columns

Index(['ref_num', 'area', 'city', 'district', 'Mukatat', 'date',
       'property_classification', 'property_type', 'number_of_properties',
       'price', 'space', 'Price_per_square_meter'],
      dtype='object')

**1.5 Uniqueness**

Records Are Unique

In [128]:
df1.duplicated().sum()

np.int64(0)

In [129]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [ref_num, area, city, district, Mukatat, date, property_classification, property_type, number_of_properties, price, space, Price_per_square_meter]
Index: []

**1.6 Completeness**


There is no critical data is missing

In [130]:
df1.isna().sum()

ref_num                    0
area                       0
city                       0
district                   0
Mukatat                    0
date                       0
property_classification    0
property_type              0
number_of_properties       0
price                      0
space                      0
Price_per_square_meter     0
dtype: int64

**1- Removing Any extra noise in columns**

In [131]:
df1['district'] = df1['district'].str.replace(r'^حي/', '', regex=True)  # Remove "حي/"
df1['Mukatat'] = df1['Mukatat'].str.replace(r'^مخطط/', '', regex=True)  # Remove "مخطط/"
if 'piece_num' in df1.columns:
    df1['piece_num'] = df1['piece_num'].str.strip().str.replace(r'^قطعة ', '', regex=True) # Remove "قطعة/"

In [132]:
df1['district'].head()

0                               الخالدية
1         11 بالدخل المحدود غرب البجادية
2    60حى اليرموك مخطط 1009 الجزء الثانى
3             68 حى اليرموك مخطط 1009/ 2
4                      827 حى هجرة الصاع
Name: district, dtype: object

In [133]:
df1['Mukatat'].head()

0     349
1    أخرى
2    أخرى
3    أخرى
4    أخرى
Name: Mukatat, dtype: object

In [134]:
df1['Mukatat'] = df1['Mukatat'].str.replace(r'\s*/\s*', '/', regex=True)

**2- Changing the Districts that have lower than 10 rows to 'اخرى' to have better results & visualized data**

In [135]:
df1['district'] = df1['district'].apply(lambda x: x.strip() if isinstance(x, str) else x)
district_stats = df1['district'].value_counts(ascending=False)
district_stats_less_than_10 = district_stats[district_stats <= 10]
df1['district'] = df1['district'].apply(lambda x: 'حي/أخرى' if x in district_stats_less_than_10 else x)

In [136]:
district_stats_less_than_10

district
3072/ ق             10
ملحق النفل          10
الامتداد الشمالى    10
الأصفر              10
الضبيعه             10
                    ..
ذبوب                 1
المنهل               1
الشويكه              1
82/ 1                1
43/ 2                1
Name: count, Length: 3472, dtype: int64

In [137]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59846 entries, 0 to 59845
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  59846 non-null  int64
 1   area                     59846 non-null  object
 2   city                     59846 non-null  object
 3   district                 59846 non-null  object
 4   Mukatat                  59846 non-null  object
 5   date                     59846 non-null  object
 6   property_classification  59846 non-null  object
 7   property_type            59846 non-null  object
 8   number_of_properties     59846 non-null  int64
 9   price                    59846 non-null  int64
 10  space                    59846 non-null  float64
 11  Price_per_square_meter   59846 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 5.5+ MB

**3- Deleting number_of_properties > 1 Because the price range would be different and it would be outlier**

In [138]:
df1 = df1[df1['number_of_properties'] <= 1]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59203 entries, 0 to 59845
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  59203 non-null  int64
 1   area                     59203 non-null  object
 2   city                     59203 non-null  object
 3   district                 59203 non-null  object
 4   Mukatat                  59203 non-null  object
 5   date                     59203 non-null  object
 6   property_classification  59203 non-null  object
 7   property_type            59203 non-null  object
 8   number_of_properties     59203 non-null  int64
 9   price                    59203 non-null  int64
 10  space                    59203 non-null  float64
 11  Price_per_square_meter   59203 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 5.9+ MB

**4- Removing the areas are not in central,eastern,west**

In [139]:
areas_to_keep = ['منطقة الرياض', 'منطقة مكة المكرمة', 'المنطقة الشرقية']

df1 = df1[df1['area'].isin(areas_to_keep)]

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41831 entries, 0 to 59748
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  41831 non-null  int64
 1   area                     41831 non-null  object
 2   city                     41831 non-null  object
 3   district                 41831 non-null  object
 4   Mukatat                  41831 non-null  object
 5   date                     41831 non-null  object
 6   property_classification  41831 non-null  object
 7   property_type            41831 non-null  object
 8   number_of_properties     41831 non-null  int64
 9   price                    41831 non-null  int64
 10  space                    41831 non-null  float64
 11  Price_per_square_meter   41831 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.1+ MB

**1.7 Accuracy Check**

**1. Validating the appropriateness of data types for the dataset.**

In [140]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41831 entries, 0 to 59748
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  41831 non-null  int64
 1   area                     41831 non-null  object
 2   city                     41831 non-null  object
 3   district                 41831 non-null  object
 4   Mukatat                  41831 non-null  object
 5   date                     41831 non-null  object
 6   property_classification  41831 non-null  object
 7   property_type            41831 non-null  object
 8   number_of_properties     41831 non-null  int64
 9   price                    41831 non-null  int64
 10  space                    41831 non-null  float64
 11  Price_per_square_meter   41831 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.1+ MB

In [141]:
df1.sample(5)

,ref_num,area,city,district,Mukatat,date,property_classification,property_type,number_of_properties,price,space,Price_per_square_meter
20289,16238294,منطقة الرياض,الرياض,الرابية,3095,2/23/2022,سكني,قطعة أرض,1,300000,450.0,666.6666
52992,16643122,المنطقة الشرقية,الدمام,السيف,ش د 1450,4/4/2022,سكني,قطعة أرض,1,1117500,750.0,1490.0000
3319,16096381,المنطقة الشرقية,الخفجي,النهضه,8/40,2/3/2022,سكني,قطعة أرض,1,100000,460.0,217.3913
49145,16610404,منطقة الرياض,الرياض,الجنادرية,3084,3/30/2022,سكني,قطعة أرض,1,1085000,510.0,2127.4509
22868,16280801,منطقة الرياض,الرياض,شرق الرياض,3217,2/26/2022,سكني,قطعة أرض,1,515000,936.0,550.2136

**2. Identifying outliers  using established validation  rule**

In [142]:
def remove_outliers(df, column_name):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    return df[(df[column_name] > (mean - 2 * std_dev)) & (df[column_name] < (mean + 2 * std_dev))]

In [143]:
df1 = remove_outliers(df1, 'Price_per_square_meter')
df1 = remove_outliers(df1, 'price')
df1 = remove_outliers(df1, 'space')

In [144]:
df1.sort_values(by='Price_per_square_meter',ascending=True).head(10)

,ref_num,area,city,district,Mukatat,date,property_classification,property_type,number_of_properties,price,space,Price_per_square_meter
4687,16110200,منطقة مكة المكرمة,مكة المكرمة,حي/أخرى,أخرى,2/6/2022,زراعي,أرض زراعية,1,10000,73950.86,0.1352
53159,16653827,منطقة الرياض,الافلاج,أخرى,أخرى,4/5/2022,سكني,أرض زراعية,1,10000,69948.00,0.1429
4642,16110149,منطقة مكة المكرمة,مكة المكرمة,حي/أخرى,أخرى,2/6/2022,زراعي,قطعة أرض,1,10000,62464.65,0.1600
18525,16048931,منطقة الرياض,الخرج,أخرى,أخرى,2/21/2022,زراعي,أرض زراعية,1,10000,62000.00,0.1612
53160,16613315,منطقة الرياض,الافلاج,أخرى,أخرى,4/5/2022,زراعي,أرض زراعية,1,10000,60900.00,0.1642
52264,16630326,المنطقة الشرقية,قرية العليا,بدون,أخرى,4/3/2022,سكني,قطعة أرض,1,20000,119416.00,0.1674
41298,16452140,المنطقة الشرقية,قرية العليا,بدون,أخرى,3/20/2022,سكني,قطعة أرض,1,20000,119416.00,0.1674
52266,16630250,المنطقة الشرقية,قرية العليا,بدون,أخرى,4/3/2022,زراعي,أرض زراعية,1,20000,110175.00,0.1815
48410,16589355,منطقة الرياض,شقراء,حي/أخرى,أخرى,3/29/2022,زراعي,أرض زراعية,1,10000,53200.00,0.1879
38558,16415936,منطقة الرياض,حوطة بني تميم,حي/أخرى,أخرى,3/16/2022,زراعي,قطعة أرض,1,10000,52700.00,0.1897

In [145]:
df1['district'].value_counts()

district
أخرى                        4111
حي/أخرى                     3700
الخير                       1439
شرق الرياض                  1389
نمار                        1277
                            ...
6 / 7 / 2/ 1423/ معدل/ س       1
الشيحية                        1
المطار                         1
المباركية                      1
الروضه                         1
Name: count, Length: 460, dtype: int64

In [146]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40329 entries, 0 to 59748
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  40329 non-null  int64
 1   area                     40329 non-null  object
 2   city                     40329 non-null  object
 3   district                 40329 non-null  object
 4   Mukatat                  40329 non-null  object
 5   date                     40329 non-null  object
 6   property_classification  40329 non-null  object
 7   property_type            40329 non-null  object
 8   number_of_properties     40329 non-null  int64
 9   price                    40329 non-null  int64
 10  space                    40329 non-null  float64
 11  Price_per_square_meter   40329 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.0+ MB

In [147]:
print("\nUnique property types:")
print(df1['property_type'].unique())

Unique property types:
['قطعة أرض' 'أرض زراعية' 'بيت' 'شقة' 'فيلا' 'مرفق' 'إستراحة' 'معرض/محل'
 'مركز تجاري' 'عمارة']

In [148]:
print("\nDistrict counts:")
print(df1['district'].value_counts())

District counts:
district
أخرى                        4111
حي/أخرى                     3700
الخير                       1439
شرق الرياض                  1389
نمار                        1277
                            ...
6 / 7 / 2/ 1423/ معدل/ س       1
الشيحية                        1
المطار                         1
المباركية                      1
الروضه                         1
Name: count, Length: 460, dtype: int64

In [149]:
print("\nArea counts:")
print(df1['area'].value_counts())

Area counts:
area
منطقة الرياض         20188
منطقة مكة المكرمة    13102
المنطقة الشرقية       7039
Name: count, dtype: int64

In [150]:
print("\nCity counts:")
print(df1['city'].value_counts())

City counts:
city
الرياض              12409
جده                  7847
مكة المكرمة          2813
المزاحميه            1860
الاحساء              1778
الدمام               1584
الطائف               1222
شقراء                1158
الخرج                1143
حفر الباطن           1015
الخبر                 920
القطيف                555
الدرعيه               489
رابغ                  399
الخفجي                362
الدوادمي              350
النعيريه              297
مرات                  292
الافلاج               287
القنفذه               286
حريملاء               282
الزلفي                260
رماح                  254
ابقيق                 216
ثادق                  215
حوطة سدير             209
ضرماء                 203
حوطة بني تميم         196
عفيف                  166
الجبيل                161
تربه                  154
الغاط                 147
رنيه                  129
الدلم                 121
الليث                  98
الخرمه                 88
العيون                 66
وادي الدواسر           61
السليل                 39
قرية العليا            37
حرض                    32
البجاديه               24
العرضيه الجنوبيه       22
أضم                    16
المويه                 16
رأس تنوره              16
الرين                  14
ميسان                  12
رفائع الجمش             9
Name: count, dtype: int64

In [151]:
df1.to_csv("Cleaneddata2022.csv", index=False)