In [99]:
import pandas as pd
import matplotlib.pyplot as plt

## Loading Data & Renaming

In [100]:
df1 = pd.read_csv('2023_q1.csv')

## 1. Data Profiling

In [101]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44091 entries, 0 to 44090
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              44091 non-null  int64
 1   المنطقة                44091 non-null  object
 2   المدينة                44091 non-null  object
 3   الحي                   44091 non-null  object
 4   المخطط                 44091 non-null  object
 5   رقم القطعة             44091 non-null  object
 6   التاريخ                44091 non-null  object
 7   تصنيف العقار           44091 non-null  object
 8   نوع العقار             44091 non-null  object
 9   عدد العقارات           44091 non-null  int64
 10  السعر بالريال السعودي  44091 non-null  int64
 11  المساحة                44091 non-null  float64
 12  سعر المتر المربع       44091 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 4.4+ MB

**1.1 Reliability**

1- Data Source: Got it from Kaggle Where Its Originally from Open Data Authority


2- Link for the Data: https://www.kaggle.com/datasets/desperateyazeed/saudi-arabia-real-estate-datasets-2022q1-and-2023q1?select=before_cleaning_realestate_2022_q1.csv

**1.2 Timeliness**

Date of the data: 2022 & 2023

2 years old

**1.3 Consistency:** 

1- data is consistent within the two datasets 2022 & 2023

In [102]:
df1.head(10)

,رقم مرجعي,المنطقة,المدينة,الحي,المخطط,رقم القطعة,التاريخ,تصنيف العقار,نوع العقار,عدد العقارات,السعر بالريال السعودي,المساحة,سعر المتر المربع
0,18890600,منطقة الرياض,الخرج,حي/غرب الهياثم,مخطط/151,قطعة 172/أ,1/1/2023,سكني,قطعة أرض,1,168938,318.75,530.0015
1,18923186,منطقة الرياض,الافلاج,حي/أخرى,مخطط/أخرى,قطعة 505,1/1/2023,سكني,قطعة أرض,1,32000,630.00,50.7936
2,18920819,منطقة الرياض,الافلاج,حي/الريان,مخطط/872,قطعة 1500,1/1/2023,سكني,قطعة أرض,1,60000,690.00,86.9565
3,18923523,منطقة الرياض,الخرج,حي/827 حى هجرة الصاع,مخطط/أخرى,قطعة 948,1/1/2023,سكني,قطعة أرض,1,20000,630.00,31.7460
4,18909006,منطقة الرياض,الخرج,حي/الاندلس,مخطط/أخرى,قطعة 555,1/1/2023,سكني,قطعة أرض,1,140000,333.00,420.4204
5,18857540,منطقة الرياض,الخرج,حي/الخالديه,مخطط/97,قطعة 182,1/1/2023,سكني,قطعة أرض,1,50000,380.00,131.5789
6,18902889,منطقة الرياض,الخرج,حي/السلمانيه,مخطط/أخرى,قطعة بدون,1/1/2023,سكني,بيت,1,100000,275.00,363.6363
7,18920141,منطقة الرياض,الخرج,حي/العفجه,مخطط/أخرى,قطعة 442,1/1/2023,زراعي,أرض زراعية,1,400000,5000.00,80.0000
8,18919935,منطقة الرياض,الخرج,حي/الفيصلية,مخطط/1646,قطعة 137,1/1/2023,سكني,قطعة أرض,1,340000,500.00,680.0000
9,18919958,منطقة الرياض,الخرج,حي/الفيصلية,مخطط/1646,قطعة 139,1/1/2023,سكني,قطعة أرض,1,374000,550.00,680.0000

In [103]:
df1.dtypes

رقم مرجعي                  int64
المنطقة                   object
المدينة                   object
الحي                      object
المخطط                    object
رقم القطعة                object
التاريخ                   object
تصنيف العقار              object
نوع العقار                object
عدد العقارات               int64
السعر بالريال السعودي      int64
المساحة                  float64
سعر المتر المربع         float64
dtype: object

**1.4 Relevance**

Data is Skewed But Can Be Cleaned And Normalizied

In [104]:
df1.describe()

,رقم مرجعي,عدد العقارات,السعر بالريال السعودي,المساحة,سعر المتر المربع
count,4.409100e+04,44091.000000,4.409100e+04,4.409100e+04,44091.000000
mean,1.928213e+07,1.041709,9.694806e+05,8.273297e+03,1708.866406
std,2.122734e+05,0.656877,6.301977e+06,1.027760e+05,2645.478105
min,1.870382e+07,1.000000,1.000000e+04,1.219200e+00,0.010000
25%,1.910319e+07,1.000000,1.000000e+05,3.275675e+02,166.666600
50%,1.927383e+07,1.000000,3.500000e+05,5.100000e+02,720.351300
75%,1.945607e+07,1.000000,8.450000e+05,7.200000e+02,2339.541300
max,1.968028e+07,34.000000,6.963680e+08,4.289000e+06,158192.090300

In [105]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44091 entries, 0 to 44090
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              44091 non-null  int64
 1   المنطقة                44091 non-null  object
 2   المدينة                44091 non-null  object
 3   الحي                   44091 non-null  object
 4   المخطط                 44091 non-null  object
 5   رقم القطعة             44091 non-null  object
 6   التاريخ                44091 non-null  object
 7   تصنيف العقار           44091 non-null  object
 8   نوع العقار             44091 non-null  object
 9   عدد العقارات           44091 non-null  int64
 10  السعر بالريال السعودي  44091 non-null  int64
 11  المساحة                44091 non-null  float64
 12  سعر المتر المربع       44091 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 4.4+ MB

In [106]:
df1.drop('رقم القطعة', axis=1, inplace=True)

In [107]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44091 entries, 0 to 44090
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   رقم مرجعي              44091 non-null  int64
 1   المنطقة                44091 non-null  object
 2   المدينة                44091 non-null  object
 3   الحي                   44091 non-null  object
 4   المخطط                 44091 non-null  object
 5   التاريخ                44091 non-null  object
 6   تصنيف العقار           44091 non-null  object
 7   نوع العقار             44091 non-null  object
 8   عدد العقارات           44091 non-null  int64
 9   السعر بالريال السعودي  44091 non-null  int64
 10  المساحة                44091 non-null  float64
 11  سعر المتر المربع       44091 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.0+ MB

**Renaming the Colmuns**

In [108]:
df1.columns = df1.columns.str.strip()

In [109]:
new_column_names = {
    'المنطقة': 'area', 
    'المدينة': 'city',
    'الحي': 'district',
    'تصنيف العقار': 'property_classification',
    'نوع العقار': 'property_type',
    'عدد العقارات': 'number_of_properties',
    'السعر بالريال السعودي': 'price',
    'المساحة': 'space',
    'سعر المتر المربع': 'Price_per_square_meter',
    'رقم مرجعي': 'ref_num',
    'المخطط': 'Mukatat',
    'التاريخ': 'date' 
}

In [110]:
df1 = df1.rename(columns=new_column_names)
df1.columns

Index(['ref_num', 'area', 'city', 'district', 'Mukatat', 'date',
       'property_classification', 'property_type', 'number_of_properties',
       'price', 'space', 'Price_per_square_meter'],
      dtype='object')

**1.5 Uniqueness**

Records Are Unique

In [111]:
df1.duplicated().sum()

np.int64(0)

In [112]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [ref_num, area, city, district, Mukatat, date, property_classification, property_type, number_of_properties, price, space, Price_per_square_meter]
Index: []

**1.6 Completeness**


There is no critical data is missing

In [113]:
df1.isna().sum()

ref_num                    0
area                       0
city                       0
district                   0
Mukatat                    0
date                       0
property_classification    0
property_type              0
number_of_properties       0
price                      0
space                      0
Price_per_square_meter     0
dtype: int64

**1- Removing Any extra noise in columns**

In [114]:
df1['district'] = df1['district'].str.replace(r'^حي/', '', regex=True)  # Remove "حي/"
df1['Mukatat'] = df1['Mukatat'].str.replace(r'^مخطط/', '', regex=True)  # Remove "مخطط/"
if 'piece_num' in df1.columns:
    df1['piece_num'] = df1['piece_num'].str.strip().str.replace(r'^قطعة ', '', regex=True) # Remove "قطعة/"

In [115]:
df1['district'].head()

0          غرب الهياثم
1                 أخرى
2               الريان
3    827 حى هجرة الصاع
4              الاندلس
Name: district, dtype: object

In [116]:
df1['Mukatat'].head()

0     151
1    أخرى
2     872
3    أخرى
4    أخرى
Name: Mukatat, dtype: object

In [117]:
df1['Mukatat'] = df1['Mukatat'].str.replace(r'\s*/\s*', '/', regex=True)

**2- Changing the Districts that have lower than 10 rows to 'اخرى' to have better results & visualized data**

In [118]:
df1['district'] = df1['district'].apply(lambda x: x.strip() if isinstance(x, str) else x)
district_stats = df1['district'].value_counts(ascending=False)
district_stats_less_than_10 = district_stats[district_stats <= 10]
df1['district'] = df1['district'].apply(lambda x: 'حي/أخرى' if x in district_stats_less_than_10 else x)

In [119]:
district_stats_less_than_10

district
الخضر                            10
356/ 2                           10
ضاحية المندسة المرحلة الاولى     10
الفويلق                          10
الخاتم بمنطقة قباء               10
                                 ..
على طريق الخميس تندحة المزدوج     1
ال هميله                          1
أم سرار                           1
غرب عين نجم                       1
ش.د 1015                          1
Name: count, Length: 3508, dtype: int64

In [120]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44091 entries, 0 to 44090
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  44091 non-null  int64
 1   area                     44091 non-null  object
 2   city                     44091 non-null  object
 3   district                 44091 non-null  object
 4   Mukatat                  44091 non-null  object
 5   date                     44091 non-null  object
 6   property_classification  44091 non-null  object
 7   property_type            44091 non-null  object
 8   number_of_properties     44091 non-null  int64
 9   price                    44091 non-null  int64
 10  space                    44091 non-null  float64
 11  Price_per_square_meter   44091 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.0+ MB

**3- Deleting number_of_properties > 1 Because the price range would be different and it would be outlier**

In [121]:
df1 = df1[df1['number_of_properties'] <= 1]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43588 entries, 0 to 44090
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  43588 non-null  int64
 1   area                     43588 non-null  object
 2   city                     43588 non-null  object
 3   district                 43588 non-null  object
 4   Mukatat                  43588 non-null  object
 5   date                     43588 non-null  object
 6   property_classification  43588 non-null  object
 7   property_type            43588 non-null  object
 8   number_of_properties     43588 non-null  int64
 9   price                    43588 non-null  int64
 10  space                    43588 non-null  float64
 11  Price_per_square_meter   43588 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.3+ MB

**4- Removing the areas are not in central,eastern,west**

In [122]:
areas_to_keep = ['منطقة الرياض', 'منطقة مكة المكرمة', 'المنطقة الشرقية']

df1 = df1[df1['area'].isin(areas_to_keep)]

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29336 entries, 0 to 44078
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  29336 non-null  int64
 1   area                     29336 non-null  object
 2   city                     29336 non-null  object
 3   district                 29336 non-null  object
 4   Mukatat                  29336 non-null  object
 5   date                     29336 non-null  object
 6   property_classification  29336 non-null  object
 7   property_type            29336 non-null  object
 8   number_of_properties     29336 non-null  int64
 9   price                    29336 non-null  int64
 10  space                    29336 non-null  float64
 11  Price_per_square_meter   29336 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 2.9+ MB

**1.7 Accuracy Check**

**1. Validating the appropriateness of data types for the dataset.**

In [123]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29336 entries, 0 to 44078
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  29336 non-null  int64
 1   area                     29336 non-null  object
 2   city                     29336 non-null  object
 3   district                 29336 non-null  object
 4   Mukatat                  29336 non-null  object
 5   date                     29336 non-null  object
 6   property_classification  29336 non-null  object
 7   property_type            29336 non-null  object
 8   number_of_properties     29336 non-null  int64
 9   price                    29336 non-null  int64
 10  space                    29336 non-null  float64
 11  Price_per_square_meter   29336 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 2.9+ MB

In [124]:
df1.sample(5)

,ref_num,area,city,district,Mukatat,date,property_classification,property_type,number_of_properties,price,space,Price_per_square_meter
26494,19309627,المنطقة الشرقية,العيون,هجر,4/440,2/20/2023,سكني,قطعة أرض,1,350000,400.00,875.0000
24929,19324074,المنطقة الشرقية,الخبر,العزيزية,92/2,2/17/2023,سكني,قطعة أرض,1,825000,875.00,942.8571
35242,19503138,المنطقة الشرقية,ابقيق,حي/أخرى,12/17/م,3/12/2023,تجاري,قطعة أرض,1,40000,657.07,60.8763
14429,19077093,منطقة الرياض,الرياض,الملقا,3114,1/30/2023,زراعي,شقة,1,1450000,133.74,10841.9321
6757,19042654,منطقة الرياض,الرياض,نمار,2996,1/15/2023,سكني,قطعة أرض,1,1080000,600.00,1800.0000

**2. Identifying outliers  using established validation  rule**

In [125]:
def remove_outliers(df, column_name):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    return df[(df[column_name] > (mean - 2 * std_dev)) & (df[column_name] < (mean + 2 * std_dev))]

In [126]:
df1 = remove_outliers(df1, 'Price_per_square_meter')
df1 = remove_outliers(df1, 'price')
df1 = remove_outliers(df1, 'space')

In [127]:
df1.sort_values(by='Price_per_square_meter',ascending=True).head(10)

,ref_num,area,city,district,Mukatat,date,property_classification,property_type,number_of_properties,price,space,Price_per_square_meter
24454,19306046,منطقة مكة المكرمة,رنيه,حي/أخرى,أخرى,2/16/2023,سكني,قطعة أرض,1,10000,62347.0,0.1603
12357,19116046,منطقة الرياض,وادي الدواسر,أخرى,أخرى,1/25/2023,زراعي,أرض زراعية,1,20000,101000.0,0.1980
9191,19069946,منطقة الرياض,المزاحميه,أخرى,أخرى,1/19/2023,زراعي,أرض زراعية,1,10000,50000.0,0.2000
8254,19061021,المنطقة الشرقية,حرض,أخرى,أخرى,1/17/2023,زراعي,أرض زراعية,1,10000,50000.0,0.2000
40944,19496718,منطقة الرياض,مرات,حي/أخرى,أخرى,3/23/2023,زراعي,أرض زراعية,1,20000,80800.0,0.2475
43096,19663450,منطقة الرياض,شقراء,حي/أخرى,أخرى,3/29/2023,زراعي,أرض زراعية,1,30000,100000.0,0.3000
43095,19662602,منطقة الرياض,شقراء,حي/أخرى,أخرى,3/29/2023,زراعي,أرض زراعية,1,30000,100000.0,0.3000
43094,19662927,منطقة الرياض,شقراء,حي/أخرى,أخرى,3/29/2023,زراعي,أرض زراعية,1,30000,100000.0,0.3000
43122,19659224,منطقة الرياض,وادي الدواسر,أخرى,أخرى,3/29/2023,تجاري,قطعة أرض,1,50000,135412.0,0.3692
30542,19414483,منطقة الرياض,وادي الدواسر,أخرى,أخرى,3/1/2023,زراعي,أرض زراعية,1,60000,159379.0,0.3764

In [128]:
df1['district'].value_counts()

district
حي/أخرى    3589
أخرى       2130
الخير       899
البرود      630
جلمودة      615
           ...
الشمالى       1
الحبيل        1
الضاحية       1
الروضه        1
الراية        1
Name: count, Length: 399, dtype: int64

In [129]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27967 entries, 0 to 44078
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ref_num                  27967 non-null  int64
 1   area                     27967 non-null  object
 2   city                     27967 non-null  object
 3   district                 27967 non-null  object
 4   Mukatat                  27967 non-null  object
 5   date                     27967 non-null  object
 6   property_classification  27967 non-null  object
 7   property_type            27967 non-null  object
 8   number_of_properties     27967 non-null  int64
 9   price                    27967 non-null  int64
 10  space                    27967 non-null  float64
 11  Price_per_square_meter   27967 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 2.8+ MB

In [130]:
print("\nUnique property types:")
print(df1['property_type'].unique())

Unique property types:
['قطعة أرض' 'بيت' 'أرض زراعية' 'شقة' 'عمارة' 'معرض/محل' 'فيلا' 'إستراحة'
 'مركز تجاري' 'مرفق']

In [131]:
print("\nDistrict counts:")
print(df1['district'].value_counts())

District counts:
district
حي/أخرى    3589
أخرى       2130
الخير       899
البرود      630
جلمودة      615
           ...
الشمالى       1
الحبيل        1
الضاحية       1
الروضه        1
الراية        1
Name: count, Length: 399, dtype: int64

In [132]:
print("\nArea counts:")
print(df1['area'].value_counts())

Area counts:
area
منطقة الرياض         13520
منطقة مكة المكرمة     7784
المنطقة الشرقية       6663
Name: count, dtype: int64

In [133]:
print("\nCity counts:")
print(df1['city'].value_counts())

City counts:
city
الرياض              8537
جده                 4483
مكة المكرمة         1724
الدمام              1504
شقراء               1350
العيون              1326
حفر الباطن           911
الجبيل               887
الخرج                833
الطائف               771
الخبر                769
المزاحميه            735
القطيف               432
عفيف                 326
النعيريه             271
الدرعيه              257
القنفذه              254
الدوادمي             234
الزلفي               200
رنيه                 200
الخفجي               197
ابقيق                178
الافلاج              152
رابغ                 116
رماح                 108
حوطة سدير             98
ضرماء                 94
قرية العليا           89
ثادق                  88
الدلم                 81
حوطة بني تميم         79
حريملاء               73
وادي الدواسر          66
الخرمه                60
حرض                   59
تربه                  57
الليث                 56
الغاط                 54
مرات                  46
رأس تنوره             40
البجاديه              39
السليل                32
الرين                 28
المويه                25
أضم                   17
العرضيه الجنوبيه      17
رفائع الجمش           10
ميسان                  4
Name: count, dtype: int64

In [134]:
df1.to_csv("Cleaneddata2023.csv", index=False)